
@{
    ViewBag.Title = "AyakkabilarıBaglayalim";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <CENTER>
                <h2>
                    <center><font face="tahoma" size="5" color="	#8B0000"><h4>AYAKKABILARI BAĞLAYALIM</h4> </font></center>
 

                </h2>
            </CENTER>
            <p class="post-meta">
                <img src="~/img/ayakkabi.jpg" width="400" height="350" /><br />
                <br />
                Okul öncesi dönemde küçük kas becerileri gelişimi desteklenmelidir. Bunun için nesneleri üst üste dizme, kaptan kaba aktarma, ayakkabı bağlama gibi okul öncesi etkinlikleri yapılabilir. Aslında bir çok okul öncesi etkinliği yapılabilir ama ben sadece birkaç örnek verdim :) Bu aile katılımında da küçük kas becerileri desteklenmiş, minikler kendi ayakkabılarını nasıl bağlayacaklarının alıştırmalarını yapmıştır :)
                <br />
            <p><h4>Ayakkabıları Bağlayalım Etkinliği İçin Gerekli Malzemeler:</h4></p>
            <ul>
                <li> Eva</li>
                <li>Ayakkabı bağcığı (Kurdele, ip de olabilir)</li>
                <li>Ayakkabı tabanı çıktısı</li>
                <li>Makas ve yapıştırıcı</li>
                <li>Delgeç</li>
                <li>Boya</li>
                <li><h4>Ayakkabıları Bağlayalım Etkinliğinin Yapılışı:</h4></li>
                <li>Evadan ayakkabı şeklinde kesiyoruz, üst kısmını da tabana bağlı olarak kesiyoruz ve yanlarına delgeç ile delik açıyoruz. Aşağıdaki resimde evanın kalıbını sizler için çizmeye çalıştım.</li>
                <li><img src="~/img/ayakkabı.png" alt="okul öncesi kalıp" width="300" height="350" /></li>
                <li>Kalıbımızı çıkartıp kestikten sonra ayakkabının iç kısmına yapıştıracağımız çıktıyı boyuyoruz. Boyayıp yapıştırıyoruz ve bağcığı ayakkabıya geçiriyoruz. Nasıl bağlanacağını ilk önce biz gösteriyoruz, sonra çocukların yapması için zaman veriyoruz. Bu süreçte zorlanan öğrencilere aile katılımı için gelen veli ile birlikte yardımcı olabiliriz. Haydi bakalım çalışsın küçük kaslar :)</li>
                <br />
                <li><img src="~/img/ayak3.jpg" alt="okul öncesi kalıp" width="300" height="350" /></li>

            </ul>
            </p>
        </div>


    </div>
</div>