
@{
    ViewBag.Title = "BalonTrafikİsiklari";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <CENTER>
                <h2>
                  
                    <center><font face="tahoma" size="5" color="	#8B0000"><h4>  BALON TRAFİK IŞIKLARI</h4> </font></center>

                </h2>
            </CENTER>
            <p class="post-meta">
                <img src="~/img/balon.jpg" width="400" height="350" /><br />
                <br />
                Okul öncesi Trafik ışıkları etkinliklerinin yapımına farklı bir bakış açısı :) Çok sevdim ben bu okul öncesi etkinliği, 2. dönem uygulamayı sabırsızlıkla bekliyorum :) Etkinlik öncesi trafik kuralları hakkında bilgi verebilir, drama yapabilirsiniz. Evrim öğretmen aile katılımı olarak yapmış bu etkinliği. Balonları düğümleme açısından aile katılımı ile yapılması etkinliği hızlandıracaktır :) Bu okul öncesi etkinliğini yaparken çocuklar hem sanat etkinliği yapmış olacak hem de nefes çalışması yapmış olacaktır :)
                <br />
            <p><h4>Etkinlik İçin Gerekli Malzemeler</h4></p>
            <ul>
                <li> Kırmızı-sarı ve yeşil renkli balon</li>
                <li>Siyah karton</li>
                <li>Makas ve yapıştırıcı</li>
                <li>Ucu sivri bir kalem</li>
                <li><h4>Etkinliğin Yapılışı</h4></li>
                <li>Etkinlik için siyah kartondan bir büyük daire bir de küçük dikdörtgen kesiyor çocuklar. Büyük dikdörtgenin alt kısmına küçük dikdörtgeni yapıştırarak trafik ışığının direk kısmını oluşturuyoruz. Kırmızı, sarı ve yeşil balonları çocuklar şişiriyor. Düğümleme kısmında sizin yardımınız gerekiyor. Düğümledikten sonra ucu sivri bir kalem yardımıyla siyah kartona üç adet delik açıyoruz. Sırasıyla kırmızı-sarı ve yeşil balonları bu deliklerden geçiriyoruz. Böylece balonlu trafik ışıkları tamamlanıyor :) Evrim öğretmene ve velisine bu güzel okul öncesi etkinliği için teşekkürler :)</li>
                <li><img src="~/img/balon2.jpg" width="300" height="350" /></li>


            </ul>
            </p>
        </div>
       
    </div>
</div>