
@{
    ViewBag.Title = "Cimİnsanlarimiz";
}


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <CENTER>
                <h2>
                 
                    <center><font face="tahoma" size="5" color="	#8B0000"><h4>ÇİM İNSANLARIMIZ</h4> </font></center>

                </h2>
            </CENTER>
            <p class="post-meta">
                <img src="~/img/cimadam.jpg" width="400" height="350" /><br />
                <br />
                Okul öncesi aile katılımı olarak çim insan yaptık biz :) Bu okul öncesi etkinliği için gerekli malzemeler; ten çorap, talaş, çim tohumu, şönil, eva, hareketli göz, ağız, burun, silikon ve köpük tabak. Öncelikle ten çorabın içine talaş dolduruyoruz, doldurduğumuz talaşın üstüne çim tohumu koyup çorabın ağzını bağlıyoruz. Hareketli gözleri, burnu ve ağzı yapıştırıyoruz. Şönilden gözlük yapıp yapıştırıyoruz. Evadan kurdele şeklinde kesiyoruz ve kızlarınkini başını yapıştırıyoruz. Erkeklerin de boyun kısmına papyon olacak şekilde yapıştırıyoruz. Çim insanları köpük tabağa koyuyoruz ki sularken rahatlıkla sulansın. Çimlerin çıkmış halinin fotoğrafları elimde yok maalesef, sınıfta yer olmadığı için evlere göndermek zorunda kaldım. Ama bu halleriyle bile çok şekerler :)
                <br />
                <img src="~/img/cimadam2.jpg" width="400" height="350" />


            </p>
        </div>
        
    </div>
</div>