
@{
    ViewBag.Title = "CocuklardaSpor";
}
<center><font face="tahoma" size="5" color="	#8B0000"><h4>Çocukların Spor Yapmalarını Oyunlar ile Sağlayın</h4> </font></center>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <p class="post-meta">
                Çağımızın en büyük sorunlarından bir tanesi olan hareketsizlik, çocuklarımızı da tehdit eden bir sorundur. Çağımızın bize sağlamış olduğu kolaylıklar sayesinde birçok işi artık yerimizden kalkmadan veya eskiye oranla daha az hareket ederek gerçekleştirebiliyoruz. Bu durum çocukların oyunlarına da yansıdığından dolayı, yeteri kadar hareket edememektedirler.<br /><br />

                Çocuklar eskiden top oynamak, ip atlamak, bisiklet binmek gibi birçok oyunu oynayarak bolca hareket etmekteydi. Fakat günümüzde bunun yerini bilgisayarlar, tabletler ve elektrikli oyuncuklar alarak çocukları evlerine hapsetti. Sokakta oynasalar bile hareketlerini en aza indirgeyen oyuncuklardan dolayı maalesef obezite oranı yüksek bir nesile doğru yol alınıyor. Bu durumun önüne geçmek için çocuklarımızı tekrar bol hareket edebilecekleri oyunlara yönlendirmemiz gerekiyor. Bizlerde buna destek olmak amacıyla çocukların hareket etmesini sağlayacak oyunları ve sağlayacağı faydaları sizler için listeledik.
            </p>
            <p class="post-meta">
                <h4>İp Atlamak</h4>

                <img src="~/img/spor1.jpg" width="700" height="350" />
                <br />
                <br />
                Eskiden beri en yaygın olarak oynanan sokak oyunlarından birisi olan ip atlamak, çocuğun kardio çalışmasını sağlayacak bir oyundur. Bu oyun sayesinde çocuğunuzun ritim duygusu gelişir, el-kol koordinasyonu gelişir ve büyük kas gruplarının gelişip güçlenmesi sağlanır. Ayrıca nabzı yükselten bu oyun, çocukların formda olmasını da sağlayan bir oyundur.
            </p>
            <p class="post-meta">
                <h4>İpli Top</h4>

                <img src="~/img/spor2.jpg" width="700" height="350" />
                <br />
                <br />
                Ritim duygusunun gelişmesini sağlayan bu oyun sayesinde bolca kalori yakılması da sağlanmaktadır.
            </p>
            <p class="post-meta">
                <h4>Çember</h4>

                <img src="~/img/spor3.jpg" width="700" height="350" />
                <br />
                <br />
                Ritim duygusunun gelişmesini sağlayan diğer bir oyun olan çember, çok eski yıllardan beri kullanılan bir araçtır. Bel, karın ve kalçanın yanısıra el, boyun ve kollarda da çevrilerek hem çocuğun yeni hareketler üretmesine fayda sağlar hem de buradaki kasların gelişmesini sağlar.
            </p>
            <p class="post-meta">
                <h4>Top</h4>

                <img src="~/img/spor4.jpg" width="700" height="350" />
                <br />
                <br />
                Birçok oyun için kullanılan bu araç sayesinde genelde büyük kas grupları çalıştırılmaktadır. İstop, yakan top ve futbol gibi yaygın olan oyunların oynanmasını sağlayan bu araç sayesinde ritim duygusu, kol-bacak koordinasyonu, dikkat ve çeviklik geliştirilebilir.
            </p>

            <p class="post-meta">
                <h4>Bisiklet</h4>

                <img src="~/img/spor5.jpg" width="700" height="350" />
                <br />
                <br />
                Çocukların en eğlenerek yaptığı aktivitelerden olan bisiklet binmek, hem çocuğun doğada olarak açıkhavanın keyfini çıkarmasına hem de büyük kas gruplarını çalıştırmasına yardımcı olur. Bolca kalori yakılmasını sağlayan bu araç sayesinde çocukların formda kalması da sağlanır.
            </p>
        </div>
        
    </div>
</div>



