
@{
    ViewBag.Title = "CocuklaraSebzeYemegiSevdirecekİpuclari";
}

<center><font face="tahoma" size="5" color="	#8B0000"><h4>Çocuklara Sebze Yemeyi Sevdirecek 7 İpucu</h4> </font></center>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <p class="post-meta">
                Günümüzün beslenme alışkanlıkları giderek daha da sağlıksız bir noktaya gelmektedir. Bu durum çocuklarımızı da etkilemektedir. Gerek reklamlarda gerekse marketlerde gördüğü abur cubur ve çok kalorili yiyecekler yüzünden sebze tüketimi çocuklarda olması gereğinden az hatta neredeyse hiç olmamaktadır. Çocuklarımızın bu tarz beslenmeleri de ebeveynler olarak bizleri endişelendirmektedir. Fakat anlatacağımız yöntemleri kullanarak çocuğunuzun sebze tüketimine yönelik olumlu gelişmeler sağlayabilirsiniz.
            </p>
            <p class="post-meta">
                <h4>1. Renkler Hoşuna Gidecektir</h4>

                <img src="~/img/havuc.jpg" width="700" height="350" />
                <br />
                <br />
                Çocuklar için meyve suları besin değeri yüksek içeceklerdir. Fakat hazır olarak alınan meyve suları içerdiği şeker oranından kaynaklı olarak sağlıksız olarak geçmektedir. Bu nedenle bu tarz içecekleri evde kendiniz yapmanız çocuğunuz hem daha sağlıklı olacaktır hem de yapılışı çocuğunuzun hoşuna giderek heveslenecektir. İçeceği hazırlarken sebze ve meyve karışımları kullanarak daha renkli olmasını sağlamak çocuğunuzu daha da cezbedecektir.
            </p>
            <p class="post-meta">
                <h4>2. Konuşun</h4>

                <img src="~/img/konusun.jpg" width="700" height="350" />
                <br />
                <br />
                Meyve ve sebze tüketiminin önemini çocuğunuza anlatın. Yediği yiyeceklerden duyduğunuz kaygıyı ve neden zararlı olduklarını belirtin. Her ne kadar her çocukta işe yarayacağını düşünmesek de denemekte fayda gördüğümüz bir yöntemdir.
            </p>
            <p class="post-meta">
                <h4>3. Sevdiği Yiyeceklerle Destekleyin</h4>

                <img src="~/img/3.jpg" width="700" height="350" />
                <br />
                <br />
                Çocuğunuzun damak tadına uygun yiyeceklerle sebzeleri kombin yaparak yeni yemekler hazırlamanız, çocuğunuza daha cazip gelebilir. Bu sayede hem sevdiği yiyeceği tüketecek hem de bu arada sebzenin de tadına bakmış olacaktır.
            </p>
            <p class="post-meta">
                <h4>4. Denemesi için Ortam Oluşturun</h4>

                <img src="~/img/4.jpg" width="700" height="350" />
                <br />
                <br />
                Bazı yiyecekler göze hoş gelmeyebilir. Bu durum çocuğunuz için de geçerli bir durum olacaktır ve daha yemeği görür görmez yemeyi reddedecektir. Böyle durumlarda çabuk pes ederek bu hareketin devamının gelmesini engelleyin. Hatta bir şekilde ikna etmeye çalışarak en azından tadına bakmasını sağlayın. Belki de tadı hoşuna gidecektir!
            </p>
            <p class="post-meta">
                <h4>5. Süslü Tabaklar Hazırlayın</h4>

                <img src="~/img/5.jpg" width="700" height="350" />
                <br />
                <br />
                Sosyal medyada veya bazı afişlerde sebzelerle süslenerek hazırlanmış tabaklar görmüşsünüzdür. Havucun göz, marulun saç ve salatalığın ağız olduğu tabaklar çocuklar için hoş bir görüntü olacaktır. Belki de hiçbir çocuğun hayır demeyeceği bir tabaktır.
            </p>
        </div>
        
    </div>
</div>



