
@{
    ViewBag.Title = "CocuklardaKodlamaEgitimi";
}

<center><font face="tahoma" size="5" color="	#8B0000"><h4>Çocuklar için Kodlama Eğitiminin Önemi</h4> </font></center>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <p class="post-meta">
                Günümüzde yaşanan teknolojik gelişmeler, çocukların bu gelişmelerle daha çok içli dışlı olmasına neden olmaktadır. Ebeveynlerinde gördükleri cihazları merak etmeleri engellenememektedir ve eninde sonunda bu cihazlarla tanışmaları gerçekleşmektedir. Bilgisayar ve akıllı cihazların çocuklar üzerinde olan olumsuz etkileri düşünüldüğünde de ebeveynlerin bu konudaki endişeleri artmaktadır.<br /><br />

                Çocukların, akıllı cihazlar ve bilgisayarla tanışmaları kaçınılmaz bir sondur. Burada dikkat edilmesi gereken bu cihazlarla geçirdikleri süreler ve hangi amaçla kullandıklarıdır. Robotik Kodlama sayesinde çocukların bu cihazlarla geçirdikleri süreler, olumsuz etkiler ortadan kaldırılarak onların gelişimlerine olumlu olabilecek bir hale dönüştürebilir.
            </p>
            <p class="post-meta">
                <h4>Bilgisayarla Konuşmayı Öğrenmeleri</h4>

                <img src="~/img/kodlama2.jpg" width="700" height="350" />
                <br />
                <br />
                İnsanların birbiriyle anlaşabilmeleri için sağlıklı bir iletişim kurmaları gerekmektedir. Aynı durum bilgisayarla insanlar arasında da geçerlidir. Bilgisayarın dilini öğrenen bir kişi, onlarla iletişime geçerek onları kendi amaç ve düşünceleri için kullanabilirler.<br /><br />

                Bilgisayar, yüksek işlem gücüne sahip olmaları ile beraber çok hızlı sonuç üretebilen cihazlardır. Akıllı cihazlarında temelinde olan bilgisayarlar, onlarla iletişime geçen insanların verdiği komutları yerine getirmektedir. Yazılım dili olarak adlandırılan ve kodlamada kullanılan diller, bilgisayara komut vermek için tasarlanmışlardır. Kodlama prensiplerini ve yazılım dillerini bilen kişiler, bilgisayarın sahip olduğu işlem gücünü kendi işleri için rahatlıkla kullanabilirler. Bu sebeple, kodlama eğitimi almak ve bu konuda kendini geliştirmek bu cihazları verimli bir şekilde kullanmak için önem arz etmektedir.
            </p>
            <p class="post-meta">
                <h4>Çocuklar için Kodlama Eğitimi</h4>

                <img src="~/img/kodlama3.jpg" width="700" height="350" />
                <br />
                <br />
                Çocuklar, okul öncesi dönemi itibariyle kodlama eğitimi almaya uygundurlar. Oyuncaklar ve mobil oyunlar sayesinde kodlamayla tanışan çocuklar, ortalama 10 yaşından sonra yazılım dili kullanarak kodlama yapma konusunda yeterliliğe ulaşmaktadır. Özel olarak tasarlanan ve geliştirilen oyuncaklar ve oyunlar, basit komutlar verilerek kodlamanın öğrenilmesini sağlamaktadır. Belli bir hedefe ulaşmak için gerekli olan adımları bulmalarını ve bunları adım adım işletmeleri, kodlamanın temelinde yatan bir olgudur. Bu oyuncaklar ve oyunlar da bu amacı yerine getirmek için bu şekilde tasarlanmışlardır.
            </p>
            <p class="post-meta">
                <h4>Kodlama Eğitimine Erken Yaşlarda Başlayan Çocuklar</h4>

                <img src="~/img/kodlama4.jpg" width="700" height="350" />
                <br />
                <br />
                Erken yaşta kodlama eğitimi almaya başlayan çocuklar; zihinsel gelişim, problem çözme becerisi, işlerin planlanması, durumlar arası ilişki kurma ve yeni fikirler üretme konusunda daha çok gelişim göstermektedirler. Ayrıca robotik kodlama ile de tanışan çocukların makinaların nasıl işlediği konusunda da temelleri oluşmaktadır. Bu sebeple zihinsel olarak bu yönde gelişmeleri, onların kodlama konusunda ileri yaşlarda daha başarılı olmalarını sağlamaktadır.
            </p>


        </div>
        
    </div>
</div>



