
@{
    ViewBag.Title = "Gelisim";
}
<center><font face="tahoma" size="5" color="#8B0000"><h4>GELİŞİM</h4> </font></center>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <img src="~/img/sebze.jpg" width="400" height="200" alt="">
            <div class="card-body">
            </div>
            <h3 class="card-title">@Html.ActionLink("Çocuklara Sebze Yedirmeyi Sevdirecek 5 ipucu", "CocuklaraSebzeYemegiSevdirecekİpuclari") </h3>

            <p class="post-meta">
                Çocuklara sebze yemeyi sevdirmenin 5 ipucunu sizler için derledik. Çocuklar neden sebzeyi sevmez? Ziyaret edin!
            </p>
            <hr />
            <img src="~/img/oyunterapisi.jpg" width="400" height="200" alt="">
            <div class="card-body">
            </div>
            <h3 class="card-title">@Html.ActionLink("Oyun Terapisi Nedir? Yararları Nelerdir?", "OyunTerapisi")</h3>



            <p class="post-meta">
                Oyun terapisi nedir? Oyun terapisi eğitiminin amacı ve yararları nelerdir? Öğrenmek için sitemizi ziyaret edin!
                <hr />
            </p>
            <img src="~/img/kodlama.jpg" width="400" height="200" alt="">
            <div class="card-body">
            </div>
            <h3 class="card-title">@Html.ActionLink("Çocuklar için Kodlama Eğitiminin Önemi", "CocuklardaKodlamaEgitimi")</h3>

            <p class="post-meta">
                Çocuklar, okul öncesi dönemi itibariyle kodlama eğitimi almaya uygundur. Robotik kodlama çocuklar için neden önemli?                <hr />
            </p>
            <img src="~/img/spor.jpg" width="400" height="200" alt="">
            <div class="card-body">
            </div>
            <h3 class="card-title">@Html.ActionLink("Çocukların Spor Yapmalarını Oyunlar ile Sağlayın", "CocuklardaSpor")</h3>

            <p class="post-meta">
                Çocukların spor yapmalarını sağlamak için bir çok oyunu sizler için derledik. Sizde bu yöntemleri kullanabilirsiniz.
            </p>

        </div>

 </div>
 </div>






