
@{
    ViewBag.Title = "hakkimizda";
}


<div class="container">
    <div class="row">
        <div class="col-lg-10 col-sm-6 portfolio-item">


            <CENTER>
                <h2>
                    HAKKIMIZDA
                </h2>
            </CENTER>

            <p class="post-meta">
                Gittikçe daha hızlı, daha karmaşık bir hayat yaşıyoruz. Ve bu hızlı temponun içinde çocuklarımızla kaliteli vakit geçirmenin önemini
                hepimiz bilsek de, malesef bu her zaman yapamadığımız bir lüks haline geldi. Çocuklar doğaları itibariyle zaten çok meraklı, keşfetmeye
                hevesli, müthiş yaratıcı ve tüm bunları bizimle paylaşabildiklerinde çok mutlular. Anne baba olarak bize düşen sadece onlara bu zamanı ayırmak ve doğru ortamı yaratmak. Zamanı yaratmak konusunda hepimiz kararlı olsak bile doğru ortamı yaratmak o kadar da kolay olmayabiliyor. Hangi aktiviteler çocuğumun yaşına uygun? Doğru malzemeleri nereden bulmalı? Sürekli aynı şeyleri yapmaktan sıkıldık, nereden yeni fikirler bulabilirim? Çocuğumun eğitimine ben nasıl katkıda bulunabilirim? Benim de kendime sorduğum bu sorular Çocuk Gelişimi'nin çıkış noktasını oluşturdu.<br />
                Sevgiler,<br />
                Selcan Büyüktepe<br />
                Çocuk Gelişimi'nin  Kurucusu... :)
            </p>
            <div class="post-preview">
                <p class="post-meta">
                    on September 24, 2018
                </p>

            </div>
        </div>
       
</div>
</div>