@model List<blogproje.DAL.kategori>
@{
    ViewBag.Title = "iletisim";
}
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
            <div class="post-preview">
                <CENTER>
                    <h2>
                        İLETİŞİM
                    </h2>
                </CENTER>
                <h5>
                    <p class="egik">
                        TAKİPTE KALIN!<br />
                        En güncel haberler, yazılar ve eğlenceli alıştırmalar için...
                        Bizlere sosyal medya yoluylada ulaşabilirsiniz!
                        <br />
                    </p>
                </h5>
                <center>
                    <p class="post-meta">
                        <a href="https://twitter.com/blogcuanne">
                            <img src="~/img/twitter.png" width="100" height="100">&nbsp;&nbsp;
                        </a>
                     
                        <a href="https://www.facebook.com/BlogcuAnne">
                            <img src="~/img/facebook.png" width="60" height="60">&nbsp;&nbsp;
                        </a>
                        <a href="https://www.instagram.com/blogcuanne/">
                            <img src="~/img/intagram.png" width="60" height="60">
                        </a>
 </p>
                </center>
            </div>
        </div>
        

    </div>
</div>
   