
@{
    ViewBag.Title = "KardesCatismalariniEngelleyecekYontemler";
}

<center><font face="tahoma" size="5" color="	#8B0000"><h4>Kardeş Çatışmalarını Engelleyecek Yöntemler</h4> </font></center>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <p class="post-meta">
                Kardeşler arası kavgalar ve anlaşmazlıklar, en sık yaşanan ve ebeveynleri çok zorlayan bir durumdur. Bu tarz sıkıntıların önüne geçmediğiniz durumlarda kardeşler arası çatışma daha da şiddetlenip, birbirlerine zarar verme noktasına kadar gelebilir. Bu sebeple çocukları bir izleyici gibi gözlemlemeli ve gerektiği durumlarda müdahale etmeliyiz.<br /><br />

                Kardeş çatışmasını engellemek için, sorunun neden kaynaklı olduğunun tespit edilmesi ilk adım olabilir. Genelde sorunlar ortaktır ve uygulanacak birkaç basit yöntemle bunları çözmek mümkündür. Kardeşler arası anlaşmazlıkları çözerek, hem işinizi kolaylaştırır hem de onlar arasındaki ilişkinin güçlenmesini sağlayabilirsiniz.
            </p>
            <p class="post-meta">
                <h4>Paylaşmanın kurallarını belirleyin.</h4>

                <img src="~/img/kardes1.jpg" width="700" height="350" />
                <br />
                <br />
                Çocukluk döneminin en değer verdikleri eşyalar, oyuncaklardır. Bu sebeple kardeş demek aynı oyuncaklarla oynamak demektir. Durum böyle olunca da kardeşler arası oyuncakları paylaşamama sonucunda, oyuncak kavgası başlayacaktır. Bunun önüne geçmek için tamamen adil bir şekilde, oyuncağı ellerinden alıp anlaşamadıkları durumda onu alamayacaklarını öğrenmeleri gereklidir. Beraber ve paylaşarak oynama sözünü aldığınızda tekrar geri verebilirsiniz.
            </p>
            <p class="post-meta">
                <h4>Kıskançlığın önüne geçmek için konuşun.</h4>

                <img src="~/img/kardes2.jpg" width="700" height="350" />
                <br />
                <br />
                Kıskançlık, kardeşler arasında en çok görünen çatışma nedenlerinden birisidir. İlgi odağı olan ilk çocuk, kardeşi olduktan sonra ikinci planda olmasından rahatsızlık duyarak, kıskançlık krizine girmektedir. Aynı durum birden fazla kardeş durumunda da görülmektedir. Bu durum çocukların ilgi istemesinden dolayı normal bir durumdur ama çözülmesi gerekli de bir durumdur. Bunu çözmek için yaşı büyük olan çocuklarla konuşmak, durumu onlara anlatmak gerekmektedir. Sevgi konusunda eşit olduğunuzu hissettirmeli, onlara güven vermelisiniz.
            </p>
            <p class="post-meta">
                <h4>Kardeşler arası yaşanan her tartışma, bir sıkıntı değildir.</h4>

                <img src="~/img/kardes3.jpg" width="700" height="350" />
                <br />
                <br />
                Onların da birbiriyle yaşamayı öğrenmeleri ve bunun için kendi içlerinde çözümler üretmeleri gerekiyor. Bu sebeple her tartışmaya müdahale etmekten kaçınarak, onları gözlemleyebilirsiniz. Fakat birbirilerine zarar verme noktasına gelinirse, duruma müdahale ederek bu durumun oluşması engellenmelidir.
            </p>
            <p class="post-meta">
                <h4>Her zaman eşit olmaya çalışın.</h4>

                <img src="~/img/kardes4.jpg" width="700" height="350" />
                <br />
                <br />
                Kardeşlerden bir tanesine tanınan fazla hak, bir diğerini rahatsız edecektir. Bu durum her ikisinin de olumsuz bir şekilde etkilenmesine sebep olacaktır. Bu sebeple her iki tarafa da eşit mesafede ve objektif olunmalıdır.
            </p>

            <p class="post-meta">
                <h4>Onlara nasıl davranması gerektiğini anlatın.</h4>

                <img src="~/img/kardes5.jpg" width="700" height="350" />
                <br />
                <br />
                Kardeşler arasında yaşanan anlaşmazlıklarda duruma müdahale edip, tarafları suçlamamak gerekiyor. Onlara bağırmak, suçlamak veya kızmak bir çözüm olmayacaktır! Bunun yerine onlarla iletişim kurup, doğru olan davranış anlatılabilir. Örneğin; bir abiye kardeşine nasıl davranması gerektiği anlatılarak abilik duygusu aşılanabilir. Kardeşinin ondan küçük ve savunmasız olduğu anlatılarak, olaylara karşı bakış açısı değiştirilebilir.
            </p>
        </div>
       
    </div>
</div>



