
@{
    ViewBag.Title = "MakarnadanYaprak";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <CENTER>
                <h2>
               
                    <center><font face="tahoma" size="5" color="	#8B0000"><h4>MAKARNADAN YAPRAK</h4> </font></center>

                </h2>
            </CENTER>
            <p class="post-meta">
                <img src="~/img/makarna.jpg" width="400" height="350" /><br />
                <br />
                Gülistan Hocamız aile katılımı olarak bu ağaca dökülen yapraklar yapmalarını istemiş. Ailelerden birisi bu güzel etkinliği yapmış. Benim çok hoşuma gitti, sizlerle de paylaşmak istedim. Ağacın yapraklarını fiyonk makarnadan yapmışlar. Makarnayı da sarı, kırmızı ve turuncuya boyamışlar. Bunun için sulu boya kullanabilirsiniz. Hazır bir ağacınız yoksa kartonlardan öğrencilerinizle birlikte kendi ağacınızı da oluşturabilirsiniz. Ağacın üstüne leylek, ağacın altına da yaprak da eklemişler. Okul öncesinde küçük yaş gruplarının da rahatlıkla yapabileceği bir etkinliktir. Bu güzel etkinlik için Gülistan Hocaya ve velisine teşekkür ediyorum :)
                <br />
           
                <img src="~/img/makarna2.jpeg" width="300" height="350" />

            
            </p>
        </div>
        
    </div>
</div>

