
@{
    ViewBag.Title = "OyunTerapisi";
}
<center><font face="tahoma" size="5" color="	#8B0000"><h4>Oyun Terapisi Nedir? Yararları Nelerdir?</h4> </font></center>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <p class="post-meta">
                Çocuklar, kendilerini ifade edebilme konusunda sağlıklı bir iletişim yeteneğine sahip değillerdir. Fakat çocukların gününün neredeyse tamamına yakınını harcadığı oyunlar, bu konuda onlarla bizim aramızda bir iletişim aracı olmaktadır. Bu sayede bizlere bazı mesajlar ulaştırmayı başarmaları ise oyun terapisi adı verilen yöntemi ortaya çıkarmıştır.
            </p>
            <p class="post-meta">
                <img src="~/img/oyunresim1.jpg" width="700" height="350" />
                <br />
                <br />
                Çocuklar, kendilerini sağlıklı bir şekilde ifade edemezler. Bu sebeple korkularını, sıkıntılarını ve problemleri anlamak da zorluklar çekilmektedir ve çözüm yolları üretilememektedir. Oyun terapisi ise çocukların oyun oynayarak bu sıkıntılarını dışarıya çıkarmasını sağlamaktadır. Oyun oynarken gösterilen davranışlar, söylemler ve tepkiler; oyun terapisti tarafından yorumlanarak anlatılmak istenen mesaj elde edilmektedir.

                Özetle; oyun terapisi, oyun ve oyuncaklar kullanılarak çocukların kendilerini ifade edebildikleri bir terapi türüdür. Bu yöntem sayesinde yetişkinlerin kelimeler ile aktardığı sıkıntılarını oyunlarla anlatmaktadırlar.
            </p>
            <p class="post-meta">
                <h4>Oyun Terapisi Eğitiminin Yararları</h4>

                <img src="~/img/oyunresim2.jpg" width="700" height="350" />
                <br />

                Oyun terapisi eğitimi, çocukların yaşadığı zorluklarla ilgili olarak mücadelelerini yansıtmalarını sağlamaktadır. Oyun terapisi eğitimi sayesinde çocukların;

                <li>Duygularını ve düşüncelerini ifade etmeleri sağlanırken zihinsel ve sosyal gelişimleri de sağlanır.</li>
                <li>Kendine güvenleri artar, sorumluluk alma ve bunları yerine getirme becerileri gelişir.</li>
                <li>Sıkıntılarıyla başa çıkmaları, çözüm üretmeleri ve mücadele etme dirençleri artar.</li>


            </p>
            <p class="post-meta">
                <h4>Oyun Terapisi Hangi Problemlerin Çözümünü Sağlayabilir?</h4>

                <img src="~/img/oyunresim3.jpg" width="700" height="350" />
                <br />

                Oyun terapisi, temelinin psikolojik olduğu duygusal sorunların çözümünde etkili olabilmektedir.
                <li>Kardeş kıskançlığı</li>
                <li>Boşanma sonrası oluşan adaptasyon sorunları</li>
                <li>Okul ile alakalı uyum sorunları.</li>
                <li>Korkular ve kaygılar</li>
                <li>İstismar ve travmalar</li>
                <li>Ailevi problemler veya değişimler</li>
                <li>Konuşma bozuklukları</li>
                <li>Kronik sağlık problemleri</li>

            </p>
            <p class="post-meta">
                <h4>Oyun Terapisine Ebeveynler Katılabilir Mi?</h4>
                <img src="~/img/oyunresim4.jpg" width="700" height="350" />
                <br />
                <br />
                Oyun terapisi daha çok çocuk ile terapist arasında gerçekleşen bir durumdur. Fakat terapist ile ebeveynler arasındaki iletişim çok sıkı olmaktadır. Terapist bazı durumlarda anne, baba, babaanne ve anneanne gibi akrabaları da davet edebilir. Hatta oyuna bile dâhil edebilir.
            </p>
            <p class="post-meta">
                <h4>Oyun Terapisinde Hangi Oyuncaklar Yer Almaktadır?</h4>

                <img src="~/img/oyunresim5.jpg" width="700" height="350" />
                <br />

                Oyun terapisinde kullanılan oyuncaklar, çocukların kendi iç dünyalarını kolay bir şekilde yansıtmalarını sağlayacak şekilde olmalıdır. Bu sebeple kullanımı kolay ve portatif olmaları oldukça önemlidir.

                <li>Mutfak malzemeleri</li>
                <li>Tamir aletleri</li>
                <li>Müzik aletleri</li>
                <li>Oyuncak ev aletleri</li>
                <li>Kukla ve peluş bebekler</li>
                <li>Oyun hamurları</li>


            </p>
        </div>
       
    </div>
</div>



