
@{
    ViewBag.Title = "Psikoloji";
}
<center><h2></h2></center>
<center><font face="tahoma" size="5" color="	#8B0000"><h4>PSİKOLOJİ</h4> </font></center>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <img src="~/img/cocuksiddet.jpg" width="400" height="200" alt="">
            <div class="card-body">
            </div>
            <h3 class="card-title">@Html.ActionLink("Şiddet Gören Çocuklar Şiddet Uyguluyor", "SiddetGorenCocuklarSiddetUyguluyor") </h3>

            <p class="post-meta">
                Evde şiddet gören çocuklarda görülme sıklığının daha yüksek olduğu bu durum, gerekirse uzman kişilerden destek alınarak kontrol altına alınmalıdır.
            </p>
            <hr />
            <img src="~/img/kardes-kavgasi.jpg" width="400" height="200" alt="">
            <div class="card-body">
            </div>
            <h3 class="card-title">@Html.ActionLink("Kardeş Çatışmalarını Engelleyecek Yöntemler", "KardesCatismalariniEngelleyecekYontemler")</h3>



            <p class="post-meta">
                Oyun terapisi nedir? Oyun terapisi eğitiminin amacı ve yararları nelerdir? Öğrenmek için sitemizi ziyaret edin!
                <hr />
            </p>




        </div>

        
    </div>
</div>






