
@{
    ViewBag.Title = "SiddetGorenCocuklarSiddetUyguluyor";
}

<center><font face="tahoma" size="5" color="	#8B0000"><h4>Şiddet Gören Çocuklar Şiddet Uyguluyor</h4> </font></center>


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <p class="post-meta">
                Çocuklar akranlarıyla beraber zaman geçirirken sergilediği bazı davranışlar, yaşadığı bazı durumların göstergesi ve yansıması olabilir. Bunlardan birisi de akran zorbalığıdır. Evde şiddet gören çocuklarda görülme sıklığının daha yüksek olduğu bu durum, gerekirse uzman kişilerden destek alınarak kontrol altına alınmalıdır.
            </p>
            <p class="post-meta">
                <h4>AKRAN ZORBALIĞI NEDİR?</h4>

                <img src="~/img/cocuksiddet.jpg" width="700" height="350" />
                <br />
                <br />
                Akran zorbalığı, çocuğun akranına karşı kasıtlı ve bilinçli olarak sözlü veya fiziksel olarak zarar vermesi durumudur. Oyunlara dâhil etmemek, dışlamak, tekme atmak, vurmak, lakap takmak ve dalga geçmek gibi birçok şekilde gerçekleştirilen bu şiddet türü, hem çocuğun kendisi hem de bu şiddete maruz kalan çocuk için ruh sağlıklarını olumsuz etkileyecek davranışlardır.<br /><br />

                Akran zorbalığına yönelik davranışlar sezildiğinde, bu konuda çocuklar ikaz edilmeli ve düzgün bir şekilde yanlış olan davranış anlatılmalıdır. Bu davranışlara karşı kayıtsız kalınması, çocuğun bu davranışları normal olarak algılamasına sebep olduğu için davranışların tekrarı ve sıklığı artacaktır
                <br />
                <br />
                Akran zorbalığına maruz kalan çocuklarda ve ergenlerde;
                <br />
                <br />
                <li>Okuldaki başarısında düşüşler,</li>
                <li>Madde kullanımına yönelme,</li>
                <li>İnsan ilişkilerinde sorunlar yaşaması,</li>
                <li>Özgüveninde azalma,</li>
                <li>Güven duygusunda azalma gibi birçok sıkıntı ortaya çıkabilir.</li>
                <br />
                <br />
                <img src="~/img/siddet.jpg" width="700" height="350" />
            </p>
            <p class="post-meta">

                <h4>EVDEKİ ŞİDDET AKRAN ZORBALIĞINI ARTIRIYOR</h4>
                Aile arasındaki ilişkinin önemi, başka konularda olduğu gibi bu konuda da öne çıkıyor. Çocukla samimi ve açık bir iletişimi tercih eden aileler, çocuklarını bu tarz olaylara karşı doğru bir şekilde bilinçlendiriyor. Bu sayede çocuk, bu tarz olaylar karşısında kendini nasıl savunacağını, nasıl davranması gerektiğini, hangi davranışın doğru hangisinin yanlış olduğunu öğreniyor. Yapılan araştırmalar ve gözlemler ise evde şiddete maruz kalan çocukların, akran zorbalığına meyilli olduğunu ortaya koyuyor. Evde gördüğü bu davranışın yanlış olduğunu ayırt edemeyen çocuk, bunu başka çocuklara karşı kullanmaya başlıyor
            </p>
            <p class="post-meta">
                <h4>BİLİNÇLİ VE DUYARLI OLMAK GEREKİYOR</h4>
                <br />

                Akran zorbalığı konusunda aileler ve öğretmenler bilinçlendirilmeli ve bu konuda duyarlı olmalıdır. Bu tarz davranışlar asla göz ardı edilmemeli ve hem uygulayan hem de maruz kalan çocuk veya ergenler için gerekli destek sağlanmalıdır. Gerekirse uzman bir kişi tarafından da destek alınarak, bu durumun oluşturduğu etkiler, daha büyük sorunlara sebep olmadan giderilmelidir.
            </p>


        </div>
        
    </div>
</div>




